body {
  font-family: Helvetica;
  background-color: black;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
}

.main {
  position: relative;
  top: 61px;
}

/*Header with Nav*/

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: black;
  top: 0px;
}

img {
  padding-top: 9px;
  padding-left: 10px;
  height: 50px;
}

a {
  color: seashell;
}

.nav {
  margin-right: 25px;
  align-self: center;
}

.nav-btn1, .nav-btn2 {
  padding-right: 20px;
}

/*End of Footer and Nav*/


/*Article : our mission*/

.article-mission {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-image: url("../images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
}

.text-mission, .text-mission2 {
  text-align: center;
}

.text-mission-block {
  background-color: black;
  width: 100%;
}

.text-mission {
  height: 25px;
  margin-top: 10px;
}

.text-mission2 {
  margin-bottom: 10px;
}

/*End of article : our mission*/

.text-middle {
  text-align: center;
  margin-top: 70px;
}

#text4 {
  margin-bottom: 20px;
  line-height: 0.5em;
}

/*Flexbox Tea Month*/

.flexbox-middle {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: center;
  margin: auto;
}

.block {
  flex-basis: 333px;
  text-align: center;
}

.image-text {
  line-height: 0.1em;
  padding-bottom: 0px;
}

.image {
  display: flex;
  padding-top: 0px;
 }

.tea {
  height: 200px;
  width: 300px;
}

/*End of Flexbox Tea Month*/

/*Flexbox Locations*/

.flexbox-low {
  display: flex;
  background-image: url("../images/img-locations-background.jpg");
  height: 570px;
  width: 1200px;
  margin: auto;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.block1 {
  width: 300px;
  height: 260px;
  background-color: black;
  text-align: center;
  opacity: 1;
}

.adjust {
  margin-right: 40px;
}

#locations {
  position: relative;
  bottom: 305px;
}

/*End of FLexbox Locations*/

footer {
  text-align: center;
}

#adress {
  margin-top: 8px;
  margin-bottom: 40px;
}

#copyright {
  margin-left: 20px;
  margin-top: 50px;
}

/*Linking to a specific part of the same page : hidden*/

#mission {
  position: absolute;
  bottom: 1500px;
  visibility: hidden;
}

#tea-month {
  position: absolute;
  top: 735px;
  visibility: hidden;
}

#location {
  position: absolute;
  top: 1515px;
  visibility: hidden;
}
